/*General customization */
body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    font-weight: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*header parts */
header {
    background-color: #66BFBF;
    height: 20%;
    padding: 20px 0 20px;
    text-align: left;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
#home_page_logo {
    border:1px solid #EAF6F6;
    color:#EAF6F6;
    border-radius: 10px;
    margin: 0 100px 0 20px;
    padding: 10px;
    font-size: 1.2rem;
}
#credentials{
    margin:auto auto auto 500px;
    display: inline-block;
}
.credentials {
    color: #EAF6F6;
    margin:0 0 0 50px
}
.credentials:hover {
    color: #11999E;
}
#home_page_logo:hover {
    background-color: white;
    color:#66BFBF;
}
/*first part*/
#first-part {
    font-family: 'Montserrat',sans-serif;
}
#recent{
    background-color: #EAF6F6;
    width:100%
}
#tagline{
    max-width: 30%;
    width: 30%;
    position: absolute;
    top: 70%;
    right: 30%;
    font-size: 1.5rem;
}
a.recent {
    font-size: 2rem;
    color: white;
    background-color: black;
    padding:20px;
    position: absolute;
    top: -25%;
    left: 25%;

}
a.recent:hover {
    border-radius: 20px;
}
#Apple_iPhone{
    float: right;
}
img.recent {
    width: 30%;
}
#categories {
    position: absolute;
    left: 0;
    max-width: 25%;
    text-align: left;
    font-size: 1.7rem;
    line-height: 2;
    margin: 10px 0 0 15px;
    padding: 10px 45px 10px 10px;
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
}
.categories {
    display: inline-block;
    border-bottom: 1px solid black;
    padding: 15px;
    width:100%;
    color: black;
}
.categories:hover {
    background-color: black;
    color:white;
}
img.pop_up_img {
    max-width: 25%;
    width:20%;
    position: absolute;
    left: 30%;
    margin: 10px 0 0 30px;
    padding: 10x;
    line-height: 2;
    background-color: darkgray;
    border-radius: 10px;
    border: 10px solid darkgray;
}
span.pop_up_content {
    position: absolute;
    background-color: darkgray;
    color: black;
    margin: 10px 0 0 15px;
    font-size: 1.2rem;
    top:10.3%;
    left: 50%;
    max-height: 8%;
    height: 0;
    max-width: 17%;
    padding: 6.6% 0 6.7% 0;
    border: 10px solid darkgray;
    border-radius: 0 10px 10px 0;
}
#newsletter_link {
    color: black;
}
#newsletter_link:hover {
    color: black;
    font-weight: bold;
}
#guide_to_down {
    position: absolute;
    left: 10%;
    bottom: 7%;
    font-size: 1.5rem;
    max-width: 20%;
}
#first-part {
    display: initial;
}
/*second part*/
#second-part {
    position: absolute;
    bottom:-310%;
}
.identifier {
    justify-self: center;
    align-self: center;
    max-width: 100rem;
    border: #7de5e5 6px dotted;
    border-bottom: none;
    width: 20%;
}
.description_para {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 20px;
}
.see_more_links {
    color: #019494;
}
.see_more_links:hover {
    font-weight: bolder;
}
/*footer parts*/
footer {
    background-color: #66BFBF;
    min-height: 35%;
    width: 100%;
    margin: 0;
    padding: 20px 0 20px;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    position: absolute;
    bottom: -370%;
}
.footer-header-links {
    color:#11999E;
    margin: 10px 30px;
}
.footer-header-links:hover {
    color: #EAF6F6;
}
.social-media-links {
    text-align: left;
}
.footer-headers {
    color:#EAF6F6;
    margin: 0 30px;
    font-size: 1.5rem;
}
.copyright {
    color: #EAF6F6;
    margin: 20px 0;
    font-size: 0.75rem;
    text-align: center;
}
.social-media-links,.information,.location,.my-account {
    display: inline-block;
    line-height: 2;
}